<html>
    <head>
        <title>Sample app</title>
        <script src="{{ url_for('static', filename='script.js') }}"></script>

        <base href="/">

        <style>
            body {
              text-align: center;
            }
            p {
                text-align: center;
                color: blue;
            }
        </style>
    </head>
    <body>
        <h2>Search results! </h2>
        <p>
            {% for name in Names %}
                <p>{{ name }}</p>
            {% endfor %}
        </p>
        <form>
<!--        <input type="submit" value="Close" formaction="https://gsidemo-246315.uc.r.appspot.com/"></form>-->
    <input type="submit" value="Close" formaction="/"></form>
    </body>
</html>